<Config>
    <SpriteCategory Name="ui_sam_group1">
        <AlwaysLoad/>
    </SpriteCategory>
	<SpriteCategory Name="ui_sam_mpintermission">
        <AlwaysLoad/>
    </SpriteCategory>
	<SpriteCategory Name="ui_sam_fullscreens">
        <AlwaysLoad/>
    </SpriteCategory>
	<SpriteCategory Name="ui_sam_mpmission">
        <AlwaysLoad/>
    </SpriteCategory>
	<SpriteCategory Name="ui_sam_loading">
        <AlwaysLoad/>
    </SpriteCategory>
</Config>